<div class="col-lg-6 col-md-12">
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                name
                            </th>
                            <th>
                                date
                            </th>
                            <th>
                                total
                            </th>
                            <th class="text-center">
                                client name
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for contact in facturess %}
                        <tr>
                            {% for key, data in contact.items %}
                            <td>
                            {{data}}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>